.button {
    background-color: var(--primary);
    color: var(--text-light);
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--primary-hover);
    transform: scale(1.05);
}
