.container {
    text-align: center;
    padding: 1rem;
}

.button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--text-light);
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: var(--primary-hover);
    transform: scale(1.05);
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

.loading {
    color: var(--text-light);
    margin-bottom: 1rem;
}
